.articleCard {
  border: solid 1px;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 30%;
  margin: 2px;
}

.articlesContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

h1 {
  text-align: center;
}

img {
  object-fit: contain;
  border-radius: 25px;
}

a {
  display: flex;
  flex-direction: column;
  margin: 2px;
}

a:link {
  text-decoration: none;
  color: black;
}
a:visited {
  color: black;
}

a:hover {
  text-decoration: underline;
}

.bodyContainer {
  width: auto;
  text-align: left;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.commentSection {
  margin-right: auto;
  width: 70%;
}
.commentCard {
  display: flex;
  flex-direction: row;
  justify-content: left;
  border: solid 1px;
  border-radius: 25px;
  margin-bottom: 5px;
  margin-top: 5px;
}

.votes {
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 5px;
}
